PONDER_RPC_URL_8453= 

DATABASE_URL="postgresql://postgres:@localhost:5432/flows?options=-c%20search_path=onchain"
DATABASE_SCHEMA=onchain

EMBEDDINGS_QUEUE_URL=
EMBEDDINGS_QUEUE_API_KEY=
# set to 'true' to disable embeddings
EMBEDDINGS_DISABLED=
