.bn-container[data-markdown-editor][data-color-scheme] {
  --bn-colors-editor-background: transparent;
  --bn-font-family: inherit;
  --bn-border-radius: var(--radius);

  h1 {
    @apply text-xl tracking-tight max-sm:text-lg;
  }

  h2 {
    @apply text-lg tracking-tight max-sm:text-base;
  }

  h3 {
    @apply text-base tracking-tight max-sm:text-sm;
  }

  p {
    @apply max-sm:text-sm;
  }

  .bn-block-outer {
    @apply my-1;
  }
}

.bn-container[data-markdown-editor][data-color-scheme="dark"] {
}

.bn-container[data-markdown-editor] > .bn-editor {
  padding-inline: 8px;
}
